#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// session new.html

.padding_top_30 {
  padding-top: 30px;
}
.margin_bottom_25{
  margin-bottom: 25px;
}
.margin_top_10{
  margin-top: 10px;
}
.margin_top_50{
  margin-top: 50px;
}
 #bForgot_pw{
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px
 }
#bSignup{
  border-top:1px solid #888;
  padding-top:15px;
  font-size:85%
}
.float_right{
  float: right;
}
#icon_gg{
  font-size:16px;
  margin-right:5px
}

#new_category {
  margin-bottom: 25px;
}

.edit_book, .edit_cmt {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  padding-top: 60px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.update-panel {
  color: #fff;
}

.bg-yellow {
  background: linear-gradient(to right, #fe9365, #feb798);
}

.bg-green {
  background: linear-gradient(to right, #0ac282, #0df3a3);
}

.bg-pink {
  background: linear-gradient(to right, #fe5d70, #fe909d);
}

.bg-blue {
  background: linear-gradient(to right, #01a9ac, #01dbdf);
}

.active_div {
  background-color: white;
}


// user show

.fb-profile-block {
  margin: auto;
  position: relative;
  width: 100%;
}
.cover-container{
    background: #1E90FF;
    background: -webkit-radial-gradient(bottom, #73D6F5 12%, #1E90FF);
    background: radial-gradient(at bottom, #73D6F5 12%, #1E90FF)
}
.fb-profile-block-thumb{
  display: block;
  height: 215px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.fb-profile-block-menu {
  border: 1px solid #d3d6db;
  border-radius: 0 0 3px 3px;
}
.profile-img a{
    bottom: 15px;
    box-shadow: none;
  display: block;
  left: 15px;
  padding:1px;
  position: absolute;
  height: 160px;
  width: 160px;
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  z-index:9;
}
.profile-img img {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  height:158px;
  padding: 5px;
  width:158px;
}
.profile-name {
  bottom: 60px;
  left: 200px;
  position: absolute;
}
.profile-name h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  max-width: 275px;
  position: relative;
  text-transform: uppercase;
}
.fb-profile-block-menu{
  height: 44px;
  position: relative;
  width:100%;
  overflow:hidden;
 }
.block-menu {
  clear: right;
  padding-left: 205px;
}
.block-menu ul{
  margin:0;
  padding:0;
}
.block-menu ul li{
  display:inline-block;
}
.block-menu ul li a {
  border-right: 1px solid #e9eaed;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  line-height: 3.0;
  padding: 0 17px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  color:#4b4f56;
  text-transform:capitalize;
}
.block-menu ul li:first-child a{
  border-left: 1px solid #e9eaed;
}
.user_profile{
  background: rgba(127, 191, 243, 0.667);
  border: 1px solid #d3d6db;
  border-radius: 4px 4px 4px 4px;
  height: 370px;
  margin-top: 2%;
  display: none;
}
.profile{
  display: block;
}
